<%- include('includes/head', { pageTitle: 'An Error Occured'}) %>
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <h1>Not Authorized!</h1>
        <p>You are not authorized, therefore you cannot view this page.</p>
        <p> <a class="btn" href="/" > Back to the Main Page</a></p>   
        
    </main>
<%- include('includes/footer') %> 