<%- include('includes/head', { pageTitle: 'An Error Occured'}) %>
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <h1>Could not find resource!</h1>
        <p>Unfortunately we couldn't find the requested resource.</p>
        <p> <a class="btn" href="/" > Back to the Main Page</a></p>   
        
    </main>
<%- include('includes/footer') %> 