<%- include('includes/head', { pageTitle: 'An Error Occured'}) %>
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunately something went wrong, please try again later.</p>
        <p> <a class="btn" href="/" > Back to the Main Page</a></p>   
        
    </main>
<%- include('includes/footer') %> 