<%- include('../../shared/includes/head', { pageTitle: 'Failure'}) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Order Failed!</h1>
        <p>Please contact our online support for more details.</p>
    </main>
<%- include('../../shared/includes/footer') %> 