<%- include('../../shared/includes/head', { pageTitle: 'Success!'}) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Order was successful!</h1>
        <p>Your order was placed! You can visit <a href="/orders"> the order page</a> for more details.</p>
    </main>
<%- include('../../shared/includes/footer') %> 